.head{
   color: red;
   font-size: 3rem;
   font-style: italic;
}
.header{
    display: flex;
    width: 100%;
}
.iconFilm1{
    font-size: 3rem !important;
    padding-top: 2rem;
    color: red !important;
}
.span{
color: white;
font-size: 3rem;
font-style: italic;
}

.bisoFilm{
    margin-top: -1rem !important;
    margin-left: 1rem !important;
    font-weight: 900;
}
.principalcontainer{
    background-color: black !important;
    }
.HomeContainer{
    background-color: black !important;
    }
.startSegment1{
    background-image: url('../images/mimpo.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat,repeat-y !important;
    height:  101vh !important;
    width: 100vw;
    background: fixed;
    
}
.startSegment2{
    background-image: url('../images/casa.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat,repeat-y !important;
    background: fixed;
    height:  101vh !important;
    width: 100vw;
    
    
}
.startSegment3{
    background-image: url('../images/bower.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat,repeat-y !important;
    height:  101vh !important;
    width: 100vw;
    background: fixed;
    
}

.textStart{
    color:white;
    font-size: 1.75rem !important;
    font-weight: 900;
    line-height: 1.3;
    text-align: center !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly !important;
    padding-top: 5rem !important;
    margin: 0 auto;
    color: white;
    height: 100% !important;
}
.texthome{
    padding-top: 2rem !important
}
.bienvenu{
    font-size: 1.75rem;
}
.btnStart{
    height: 4.5rem !important;
    width: 15rem !important;
    font-size: 1.75rem !important;
    box-shadow:green 5px 5px, green 10px 10px !important;
}
.btnStart:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transform-origin: bottom;
}
h1,h3,p,h4,h5{
    color: white;
}

.movieCard{
    background-color: black !important;
    margin-top: 5.5rem !important
}
.modalTitle{
    font-size: 3rem !important;
    color: orange;
    font-style: italic;
}
.detail_Table{
    background-color: black !important;
    color: white !important;
    height: auto !important;
}
.contentTable{
display: flex;
flex-direction: row;
justify-content: space-evenly !important;
}
.cardColumn{
display: flex !important;
flex-direction: row !important;
justify-content: space-evenly !important;
margin: 0 auto !important;
}
.cardContent{
    text-align: center !important;
    background-color: black !important;
    
}
.releaseDate,.filmTitle{
    color:white !important;
}
.movieList{
    text-align: center !important;
    width: 100% !important;
}
.movieTitle{
    margin:0 auto !important;
    padding-top: 2rem !important;
}
.redBorder{
    border-bottom: .3rem solid red !important;
}
.separeBlock{
    width: 100vw !important;
    height: .1vh !important;
    background-color: white !important;
}
.moviebar{
    display: flex !important;
    flex-wrap: wrap;
    background-color: black !important;
}
.form-search{
text-align: center !important;
&__input{
width: 50% !important;
}
}
.Menu{
    background-color: black !important;
    position: fixed !important;
    z-index: 9999 !important;
    width: 100vw !important;
}
.movieListContainer{
    margin-top: 7rem !important;
    .moviesBar{
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center !important;
        background-color: black !important;
    }
}